<div class="row">
    <div class="col-md-4">
        <%= render 'posts/form' %>
    </div>
    <div class="col-md-8">
        <% @posts.each do |post| %>
        <div class="card border-info">
            <div class="card-header">
                <p class="card-text"><%= post.post %></p>
            </div>
            <div class="card-body">
                <% if user_signed_in? && ( post.user_id ) %>
                        <div>
                            <strong>by <%= post.user.name %></strong>
                      
                        </div>
                <% end %>
                <% if user_signed_in? && current_user.id == post.user_id %>
                 		<div class="icon__box">
  			        		<%= link_to post  do %>
  					          <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
  					        <% end %>
  					        <%= link_to edit_post_path(post) do %>
  					          <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
  					        <% end %>
  					        <%= link_to post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" } do %>
  					        	<span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
  					        <% end %>
  			        	</div>
                <% end %>
                <hr>
            </div>
        </div>
        <% end %>
    </div>
</div>

